extends layout

block content
    section.pre
        .text-box
            span.highlight Vackert GG
            |  - WE DO NOT DO TRYOUTS!
            br
            | If we want you, we will draft you. If you want to join,
            | you problaby will not.
            | Any complaints about toxicicity... Cry less. Thx.
            br
            br
            | The club was created by 
            span.highlight SlaktarSeb 
            | year 2018.
            br
            | The club was put on the map by 
            span.highlight Karizmatisk 
            | year 2018.

    section.players
        .spotlight-box
            .row
                .intro
                    .img
                        img(src="./images/octane_thumb.png" alt="")
                    span.sub-title Karizmatisk
            .skills.kariz
                .skill
                    .name Aerial
                    .bar
                    .fill.aerial
                .skill
                    .name Ground
                    .bar
                    .fill.ground
                .skill
                    .name Position
                    .bar
                    .fill.position
                .skill
                    .name Leadership
                    .bar
                    .fill.leadership
                .skill
                    .name Communication
                    .bar
                    .fill.communication
                .skill
                    .name Ballchasing
                    .bar
                    .fill.ballchasing
        .spotlight-box
            .row
                .intro
                    .img
                        img(src="./images/octane_thumb.png" alt="")
                    span.sub-title SlaktarSeb
            .skills.slaktar
                .skill
                    .name Fast Aerials
                    .bar
                    .fill.fast
                .skill
                    .name Slow Aerials
                    .bar
                    .fill.slow
                .skill
                    .name Ground
                    .bar
                    .fill.ground
                .skill
                    .name Rotation
                    .bar
                    .fill.rotation
                .skill
                    .name Avaibility
                    .bar
                    .fill.avaibility
                .skill
                    .name Toxicity
                    .bar
                    .fill.toxicity

    section.end
        .text-box.center
            span.highlight We are
            |  however looking for subs.
            br
            | Are you a skilled gamer that is used
            | to the pro-scene (at least high level diamond)
            | we will draft you.