doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vackert GG
    link(href="css/styles.css" type="text/css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")

    body
        header
            .fade
            .title
                h1 Vackert GG
        .container
            block content

        footer Vackert GG - heaven on earth.